<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8" />
<title></title>
<link rel="stylesheet" type="text/css" href="/css/common.css" />
</head>
<body class="admin">
<div class="wrap admin">
    <div class="wrp_header">
        <div class="header admin">
            <h1>관리자 | 참여자 리스트 <span class="wrp_cnt">( 총 <span class="cnt"><%= pagenation.total %></span>건 )</span></h1>
            <a href="/admin/logout">로그아웃</a>
        </div>
    </div>
    <div class="container admin">
        <table class="lists">
            <caption>참여자 목록</caption>
            <colgroup>
                <col width="3%" />
                <col width="25%" />
                <col width="25%" />
                <col width="25%" />
                <col width="12%" />
                <col width="10%" />
            </colgroup>
            <thead>
                <th scope="col">번호</th>
                <th scope="col">컨텐츠명</th>
                <th scope="col">원본</th>
                <th scope="col">url</th>
                <th scope="col">파일</th>
                <th scope="col">등록시간</th>
            </thead>
            <tbody>
                <%
                    for(var i=0; i<boards.length; i++){
                        var board = boards[i];

                        var d = new Date(board.date),
                            y = d.getFullYear(),
                            m = d.getMonth() + 1,
                            dy = d.getDate(),
                            h = d.getHours(),
                            mn = d.getMinutes(),
                            s = d.getSeconds();

                        if(m < 10) m = '0' + m;
                        if(dy < 10) dy = '0' + dy;
                        if(h < 10) h = '0' + h;
                        if(mn < 10) mn = '0' + mn;
                        if(s < 10) s = '0' + s;

                        var time = y + '/' + m + '/' + dy + ' ' + h + ':' + m + ':' + s;
                %>
                    <tr class="nav">
                        <td class="alc"><%= board.num %></td>
                        <td><%= board.vname %></td>
                        <td><%= board.vorigin %></td>
                        <td>
                            <% if(board.vurl !== ''){ %>
                                <a href="<%= board.vurl %>" target="_blank"><%= board.vurl %></a>
                            <% }else{ %>
                                -
                            <% } %>
                        </td>
                        <td class="alc">
                            <% if(board.vfile !== ''){ %>
                                <a href="<%= board.vfile %>">다운로드</a>
                            <% }else{ %>
                                -
                            <% } %>
                        </td>
                        <td class="alc"><%= time %></td>
                    </tr>
                    <tr class="cont">
                        <td colspan="6">
                            <ul>
                                <li>이름 : <%= board.uname %></li>
                                <li>국적 : <%= board.unation %></li>
                                <li>도시 : <%= board.ucity %></li>
                                <li>시/도 : <%= board.ucountry %></li>
                                <li>SNS : <%= board.usns %></li>
                                <li>이메일 : <%= board.uemail %></li>
                                <li>방문수 : <%= board.uvisit %></li>
                                <li>여권 : <%= board.upassport %></li>
                                <li>비자 : <%= board.uvisa %></li>
                                <li>결격사유 : <%= board.ucancel %></li>
                                <li>영상 설명 : <%= board.vdesc %></li>
                            </ul>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <p class="pagenation">
            <% if(pagenation.prevPage > -1){ %>
                <a href="/admin/lists/<%= pagenation.prevPage %>">&lt;</a>
            <% } %>

            <%
                for(var i=pagenation.startPage; i<=pagenation.endPage; i++){
                    if(i === pagenation.current){
            %>
                <span class="on"><%= i %></span>
            <%
                    }else{
            %>
                <a href="/admin/lists/<%= i %>"><%= i %></a>
            <%
                    }
                }
            %>

            <% if(pagenation.nextPage > -1){ %>
                <a href="/admin/lists/<%= pagenation.nextPage %>">&gt;</a>
            <% } %>
        </p>
        <div class="frm_search">
            <form method="GET" action="/admin/lists/<%= pagenation.current %>">
                <fieldset>
                    <legend>참가자 검색 양식</legend>
                    <select name="searchType">
                        <option value="">검색종류</option>
                        <option value="vname">컨텐츠명</option>
                        <option value="vorigin">원본</option>
                        <option value="uname">이름</option>
                        <option value="unation">국적</option>
                        <option value="uemail">이메일</option>
                    </select>
                    <input type="text" name="searchWord" />
                    <input type="submit" value="검색" />
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>
